.home > .x3 {
  cursor: pointer;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: .1em;
}

.rainbow {
  color: hotpink;
  animation: colorRotate 20s linear infinite;
  text-align: center;
  vertical-align: center;
}

.home-link {
  color: lavender;
  text-decoration: none;
  animation: colorRotate 20s linear infinite;
}

.home-link:after {
  color: orange;
  animation: colorRotate 20s linear infinite;
}

.home-link:link {
  color: Chartreuse;
  animation: colorRotate 20s linear infinite;
}

.home-link:visited {
  color: lightBlue;
  animation: colorRotate 20s linear infinite;
}

.home-link:hover {
  color: peachpuff;
  animation: colorRotate 20s linear infinite;
}

.home-link:active {
  color: lilac;
  animation: colorRotate 20s linear infinite;
}