.home > .x3 {
  cursor: pointer;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: .1em;
}

.home .half-screen {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: colorRotate 10s linear infinite;
  min-height: 100vh;
}

.half-screen a {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

.rainbow {
  color: hotpink;
  animation: colorRotate 20s linear infinite;
  text-align: center;
  vertical-align: center;
}

.home a {
  text-decoration: none;
  color: black;
}

.rainbow-link {
  color: lavender;
  animation: colorRotate 20s linear infinite;
}

a {
 color: slateblue;
}

.home-link {
  color: lavender;
}

.home-link:after {
  color: orange;
}

.home-link:link {
  color: lavender;
}

.home-link:visited {
  color: lightBlue;
}

.home-link:hover {
  color: peachpuff;
}

.home-link:active {
  color: lilac;
}

.big-love {
  font-size: 4em;
}

@media only screen and (max-width: 768px) {
  .home a:nth-child(5) {
    display: none;
  }
  .home a:nth-child(5) {
    display: none;
  }
  .home > .x3 {
    min-width: 50%;
  }
}
