.rainbow-container {
  margin: 0;
  padding: 0;
  background-color: teal;
  animation: colorRotate 10s linear infinite;
  min-height: 100vh;
}

.page-container {
  height: 100%;
  max-width: 1000px;
  padding: 10%;
}

@media only screen and (max-width: 768px) {
  .page-container {
    padding-top: 90px;
  }
}

nav {
  display: flex;
  position: absolute;
  top: 0vh;
  padding: 30px;
}

nav > a {
  animation: colorRotate 10s linear infinite;
  color: Aquamarine;
  display: block;
  justify-content: space-between;
  font-size: 2em;
  padding-left: 8px;
  text-decoration: none;
  margin-right: .5em;
}

nav > a:visited {
  color: LimeGreen;
  animation: colorRotate 10s linear infinite;
}
