body {
  background-color: Thistle;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Vollkorn', 'Concert One', serif;
}

h1 {
  font-weight: bold;
}

h3 {
  font-weight: normal;
}

.rainbow-container {
  margin: 0;
  height: 100vh;
  background-color: pink;
  animation: colorRotate 10s linear infinite;
}

.page-container {
  max-width: 750px;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  animation: colorRotate 10s linear infinite;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.x3 {
  flex: 1 0 calc(33.3333%);
  height: 33.3333vh;
  width: 33.3333vh;
}

.x2 {
  flex: 1 0 calc(50%);
  height: 50vh;
  width: 50vw;
  overflow: hidden;
}

nav {
  display: flex;
  position: fixed;
  bottom: 0px;
}

nav > a {
  animation: colorRotate 10s linear infinite;
  color: Aquamarine;
  display: block;
  justify-content: space-between;
  font-size: 5em;
  padding-left: 8px
}

nav > a:visited {
  color: Aquamarine;
  animation: colorRotate 10s linear infinite;
}