
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.x3 {
  flex: 1 0 calc(33.3333%);
  height: 33.3333vh;
  width: 33.3333vh;
}

.x2 {
  flex: 1 0 calc(50%);
  height: 50vh;
  width: 50vw;
  overflow: hidden;
}

.fill-width {
  width: 100%;
}