body {
  background-color: #F3FAF1;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Vollkorn', 'Concert One', serif;
}

h1 {
  margin-top: 0;
  font-weight: bold;
}

h3 {
  font-weight: normal;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.half-screen {
  height: 100vh;
  width: 50vw;
}

.x3 {
  flex: 1 0 calc(33.3333%);
  height: 33.3333vh;
  width: 33.3333vh;
}

.x2 {
  flex: 1 0 calc(50%);
  height: 50vh;
  width: 50vw;
  overflow: hidden;
}
